<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Add users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<form id="add-users-form" th:action="@{/users/add}" th:method="post" action="add-users-page.html">
    <h1>User Info:</h1>

    <div class="row">
        <p>
            <label for="name-input">Name:</label>
            <input id="name-input" name="name" type="text" placeholder="Введите имя" required/>
        </p>
    </div>

    <div class="row">
        <p>
            <label for="name-age">Age:</label>
            <input id="name-age" name="age" type="number" placeholder="Введите возраст" required min="18" max="100"/>
        </p>
    </div>

    <div class="row">
        <p>
            <label for="name-pet">Pet:</label>
            <select id="name-pet" name="pet" required>
                <option value="">--Выберите питомца--</option>
                <option th:text="${pet.breed}" th:each="pet: ${pets}" th:value="${pet.breed}"></option>
            </select>
        </p>
    </div>

    <div class="row">
        <p>
            <button type="submit">Добавить</button>
        </p>
    </div>

</form>

</body>
</html>