<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Add users</title>
</head>
<body>

<form id="add-users-form" th:action="@{/users/add}" th:method="post" action="add-users-page.html">
    <h1>User Info:</h1>

    <div class="row">
        <p>
            <label for="name-input">Name:</label>
            <input id="name-input" name="name" type="text" placeholder="Введите имя"/>
        </p>
    </div>

    <div class="row">
        <p>
            <label for="name-age">Age:</label>
            <input id="name-age" name="age" type="text" placeholder="Введите возраст"/>
        </p>
    </div>

<!--    <div class="row">-->
<!--        <p>-->
<!--            <label for="name-pet">Pet:</label>-->
<!--            <input id="name-pet" name="pet" type="text" placeholder="Введите питомца"/>-->
<!--        </p>-->
<!--    </div>-->

    <div class="row">
        <p>
            <label for="name-pet">Pet:</label>
            <select id="name-pet" name="pet" required>
                <option disabled selected>--Выберите питомца--</option>
                <option th:text="${pet.breed}" th:each="pet: ${pets}" th:value="${pet.breed}"></option>
            </select>
        </p>
    </div>

    <div class="row">
        <p>
            <button type="submit">Добавить</button>
        </p>
    </div>

</form>

</body>
</html>