<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit pet</title>
</head>
<body>

<form id="edit-form" th:action="@{/pets/{id}/edit(id=${petDto.id})}" th:method="post" action="edit-pets-page.html">
    <h1>Pet</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${petDto.id}" value="1"/>
    </div>

    <div class="row">
        <label for="breed-input">Breed:</label>
        <input id="breed-input" name="breed" type="text" th:value="${petDto.breed}" value="Default Breed"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>